# --- Terraform ---
*.tfstate
*.tfstate.*
.terraform/
terraform.tfstate.backup
.terraform.lock.hcl

# --- Secrets & Credentials ---
.secrets/
*.pem
*.env
!.env.example
*.tfvars
*.json

# --- Logs ---
*.log
logs/
*.gz

# --- OS / Editor ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# --- Shell history or temp ---
*.bak
*.tmp
*.retry
*.old
